{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <h2 style="text-align: center">Заглавие:<br> {{ article.name }}</h2>
    <section style="width: 80%; margin: auto">
        <p><span style="color: blue">Avtor:</span> {{ article.author }}</p>
        <span>Kategoriq:</span><a href="{{ path('showAllbyCategory', {category: article.category }) }}">{{ article.category }}</a>
        <article><p>{{ article.content }}</p></article>
    </section>
{% endblock %}