{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
   <section style="display:flex; justify-content: space-between; width: 80%; margin: auto">
       {% for article in articles %}
           <article style="width: 20%">
               <h3>{{ article.name }}</h3>
               <p><span style="color: blue">Avtor:</span>{{ article.author }}</p>
               <p><span style="color: blue">Kategoriq:</span>{{ article.category }}</p>
               <p>{{ article.content |slice(0, 50) ~ '...' }}</p>
               <a href="{{ path('show', {name: article.name|replace({' ': '-'})}) }}">ОЩЕ</a>
           </article>
       {% endfor %}
   </section>
{% endblock %}