{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('news') }}">NACHALO</a>
    <h2 style="text-align: center">Заглавие:<br> {{ article.name }}</h2>
    <section style="width: 80%; margin: auto">
        <p><span style="color: blue">Avtor:</span> {{ article.author }}</p>
        <p><span style="color: blue">Kategoriq:</span> {{ article.category }}</p>
        <article><p>{{ article.content }}</p></article>
    </section>
{% endblock %}